@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#cdd9e5;
  background:#2d333b;

  /* #2d333b */
}
html {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #cdd9e5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.harmburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #cdd9e5;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-left: 5rem;
}
.nav-link {
  font-size: 1rem;
  font-weight: 200;
  color: #cdd9e5;
}
.nav-link:hover {
  color: #adbac7;
}
.logo {
  border-radius: 50%;
  width: 40px;
}

input {
  width: 80%;
  margin: 40px 20px;
  padding: 12px 20px;
  outline: none;
  border: 1px solid #cdd9e5;
  border-radius: 8px;
}
input:focus {
  box-shadow: 0 0 20px #cdd9e5;
}
button {
  background-color: #2d333b;
  border: 1px solid #cdd9e5;
  border-radius: 8px;
  text-align: center;
  padding: 12px 20px;
  cursor: pointer;
  outline: none;
}
button:hover {
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.24), 0 5px 8px 0 rgba(0, 0, 0, 0.19);
}
.validate {
  display: none;
}

.danger {
  color: rgb(255, 1, 1);
  text-align: center;
  margin-top: none;
  margin-bottom: 8px;
}

.details-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-avatar {
  border-radius: 50%;
  height: auto;
  margin: 20px;
}
.user-name {
  text-decoration: none;
  text-align: center;
  margin-left: 45px;
  text-transform: capitalize;
  font-size: 18px;
  color:#cdd9e5;
}
.user-bio {
  text-decoration: none;
  text-align: center;
  margin-left: 50px;
  margin-top: 15px;
  font-size: 14px;
  color: grey;
}
.user-card{
  width: 100%;
  padding: 20px;
  border: 1px solid #c9c9c9;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius:8px;

}
.repo-name{
  color: #cdd9e5 ;
  font-weight: bold;
}
.repo-desc{
  color: #cdd9e5;
  margin: 10px;
}
span{
  margin: 20px;
}
.fa-circle{
  color: green;
}
/* spinner */
#spinner:not([hidden]){
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spinner::after{
  content: "";
  width: 80px;
  height: 80px;
  border: 5px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s linear infinite;

  
}
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
  
}
/* media queries */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #2d333b;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .harmburger {
    display: block;
    cursor: pointer;
  }
  .harmburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .harmburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .harmburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  input {
    width: 90%;
  }
  button {
    width: 90%;
    margin: 8px 20px;
  }
  .details-container {
    display: block;
  }
  .user-avatar {
    max-width: 80%;
    height: auto;
    margin: 20px 45px;
  }
  .user-name{
    text-align: center;
    margin: auto;
  }
  .user-bio{
    text-align: center;
    margin-left: auto;
  }
  .user-card{
    width: 100%;
    padding: 20px;
    border: 1px solid #c9c9c9;
    margin-top: 40px;
    margin-bottom: 20px;
  
  }
}
